*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba( 0, 0, 0, 0.5) ;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style:none;
    margin: 20px 0px;
}
.navbar ul li {
    font-family: century ;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color:black;
    box-shadow: 0 0 10px white;
    border-radius: 80%;
} 

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color:white ;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('portfolio image.png') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 30%;
    left: 5%;
}
.headings{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: skyblue;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
    border-radius: 50%;
}

/* ABOUT ME SECTION */
 #about{
     display: flex ;
     flex-direction: column;
     box-sizing: border-box;
     
 }
 
 #intro{
     display: flex;
     flex-direction: column;
     text-align: justify;
     padding: 10px;
}
#inro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
/*Portfolio Section*/
#Education{
    display: flex;
    flex-direction: column;
    background-color: rgba(red, green, blue, alpha);
    color: black;
    align-items: center;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* Services Section */
 #services{
     display: flex;
     flex-direction: column;
     padding: 20px;
 }
 .row{
     display: flex;
     justify-content: space-around ;
     flex-wrap:wrap;
     box-sizing: content-box;

 }
 .box{
     display: flex;
     flex-direction: column;
     width: 350px;
     height: 450px;
     border: 1px solid black;
     margin: 10px;
     align-items: center;
     text-align: center;
     padding: 10px;
     border-radius: 15px;
     background: linear-gradient(to top, black,bisque 50%);
     background-size:  100% 200%;
     transition: all .8s;
 }
 .box:hover{
     background-position: left bottom;
     color: bisque;
     border: none;
     box-shadow: black;
 }
 .box img{
     width: 300px;
     height: 300px;
     background-color: white;
     padding: 10px;
}
/*Contact Section*/
#contact{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white ;
}

/*Contact Section*/
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}